:root {
  --measure: 60ch;
  --ratio: 1.33;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --space: var(--s0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: calc(0.75rem + 100 * (0.005vmax + 0.005vmin));
  scroll-behavior: smooth;
}
main {
  @extend .el-center;
  @extend .el-stack;
}
main {
  --space: var(--s3);
  margin-bottom: 1.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 5px solid #000;
}

h1, h2 {
  border-bottom: 5px solid #000;
  padding-bottom: .5rem;
}

.el-frame {
  --n: 9;
  --d: 16;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.el-frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-frame > img,
.el-frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.el-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.el-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.el-stack > * + * {
  margin-top: var(--space);
}

.el-center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  //text-align: center;
  max-width: var(--measure);
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.el-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.el-switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.el-switcher > :nth-last-child(n + 3),
.el-switcher > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}

article {
  @extend .el-stack;
}
article * {
  --space: var(--s-1);
}
.gallery {
  @extend .el-switcher;
}

header {
  height: var(--s0);
}
footer {
  height: var(--s5);
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.lightbox {
  transition: all 1s ease;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  /* v-align top; because flex direction row > */
  align-items: flex-start;
  justify-content: center;
  z-index: -1;
}

.lightbox img {
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  transition: all 1s ease;
  opacity: 0;
}
.lightbox:target {
  display: block;
  background: #fff8;
  z-index: 99;
  opacity: 1;
  & img {
    opacity: 1;
  }
  & ~ .thumb img {
  }
}

button {
  outline: none;
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.player-container {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  //border: 2px solid red;
  width: 100%;
  &[data-init] {
    display:none;
  }
}
.player {
  width: calc( var(--measure) - .5rem);
  //background: linear-gradient(transparent 15%,#fff 15%,#fff 85%,transparent 85%);
  background: #fff;
  margin: 0 auto;
  //margin: 0 auto 0.5rem auto;

  //border: 2px solid green;
  & figure {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    padding: .25rem 0.25rem;
    & figcaption { display: flex; align-items: center;}
    & code {font-size: .75rem}
    & .seek {
      //width: 100%;
      flex-grow: 2;
    }
  }
  & audio[src] {
    display: none;
  }
}
audio {
  width: 100%;
}
.tape {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;

  &:focus-within {
    border-radius: 0.1rem;
    box-shadow: inset 0 0 0rem 0.25em #ccc;
  }
}
.tape button, .player button {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0em 0.275em #000;
  transition: all 0.175s ease;
}

.pause {
  background: url(assets/ui/play.svg) no-repeat 52.5% center;
}
.play {
  background: url(assets/ui/pause.svg) no-repeat 52.5% center;
}

.play,
.pause {
  background-size: 30%;
}


input[type=range] {

  margin: 8.4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000000;
  border: 2.9px solid #010101;
  border-radius: 11.4px;
  
  height: 6.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -11.3px;
  width: 23px;
  height: 23px;
  background: #000000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  background: #000000;
  border: 2.9px solid #010101;
  border-radius: 11.4px;

  height: 6.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #000000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 23.2px 0;
  color: transparent;

  height: 6.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 2.9px solid #010101;
  border-radius: 22.8px;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 2.9px solid #010101;
  border-radius: 22.8px;
}
input[type=range]::-ms-thumb {
  width: 23px;
  height: 23px;
  background: #000000;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=range] {
  transition: all 2s ease;
}